* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    height: 100%;
}



.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.8)),
        url(/img/1-768x376.jpg);
    background-size: cover;
    background-position: center;
    color: linear-gradient(rgba(19, 46, 202, 0.952), rgba(237, 238, 241, 0.952));
    display: grid;
    grid-template-rows: 3fr 3fr;

}

.logo-container {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.bot-tag {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Noto Sans JP',
        sans-serif;
}

.desp-botclick {
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-around;

}

.card {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(185, 183, 183, 0.185);
}

.forgetpass {
    cursor: pointer;
}

.arr {
    color: yellowgreen;
    font-family: 'Roboto Mono',
        monospace;
    font-size: 13rem;
    font-display: ;
}

form {
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.newsignup {
    margin: 1rem;
    width: 90%;
}

.newuser {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #3787e9;

}

.newsignup button {
    width: 100%;
    height: 3.8rem;
    border: 1.5px solid #3787e9;
    border-radius: .5rem;
    color: #3787e9;
}

.botclick-logo {
    margin-top: 8rem;
    margin-bottom: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono',
        monospace;
}

.img-logo {
    width: 30rem;
}

.img-logo1 {
    opacity: .9;
    width: 50rem;

}

.cloudpng,
.modelpng,
.centralpng {
    width: 5rem;
}


.png-content {
    color: rgba(255, 255, 255, 0.805);
    text-align: center;
    font-family: 'Open Sans Condensed',
        sans-serif;
    font-size: 1rem;
}

.login-form {
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

form input,
button {
    margin-bottom: 1.8rem;
    height: 3.8rem;
    border: 1px solid;
    border-radius: .5rem;
}

form button {
    background-color: #3787e9;
    color: white;
}

#a5c16198-98a1-478b-8909-43624583dcf2 {
    width: 12rem;
    height: 12rem;
}

.loginsvg {
    display: flex;
    background-color: rgba(255, 255, 255, 0.775);
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}